<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Add Credit Card</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/signup.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
        <center>
        <form class="form-signin" action="/addCreditCard" method="post">
            <h2 class="form-signin-heading">Add Credit Card</h2>

        {% with msgs = get_flashed_messages() %}
            {% if msgs %}
                {%- for msg in msgs %}
                <center>
                    <div class="alert alert-danger">
                        {{ msg }}
                    </div>
                </center>
                {% endfor -%}
            {% endif %}
        {% endwith %}
        
        <input type="text" name="cardNumber" class="form-control" placeholder="Card Number" required>
        
        <input type="name" name="holderName" class="form-control" placeholder="Holder Name" value="{{request.form.firstName}}" required autofocus>
        
        <br>
        <div class="col-sm-12">
        <select class="form-control" name="cardType">
        	<option value="VISA">VISA</option>
        	<option value="MasterCard">MasterCard</option>
        	<option value="DISCOVER">DISCOVER</option>
        	<option value="AMERICAN EXPRESS">AMERICAN EXPRESS</option>
        </select>
    	</div>

    	<br><br>
        <label for="expirationDate">Expiration Date</label>
        <input type="month" name="expirationDate">

        <br><br>
        
        <p><input type="submit" class="btn btn-lg btn-primary btn-block">
      </form>
  </center>
    </div> <!-- /container -->

  </body>
</html>
