<!-- Extend layout -->
{% extends "layout.html" %}
{% block content %}

<link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="../static/css/theme.css" rel="stylesheet">

<div class="jumbotron">
  <div class="container">
    <h1>Online Ticketing App</h1>
      <p>Welcome to online ticketing app!</p>
      <p><a class="btn btn-primary btn-lg" href="/schedule" role="button">Check Out Schedule &amp; Buy Ticket &raquo;</a></p>
  </div>
</div>

<center>
  <div style="width:85%">
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/static/imgs/terminator.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Terminator</h2>
          <p>Terminator Genisys is a 2015 American science fiction action film, directed by Alan Taylor and written by Laeta Kalogridis and Patrick Lussier. The fifth installment in the Terminator franchise, the film stars Arnold Schwarzenegger, reprising his role as the eponymous character, along with Jason Clarke, Emilia Clarke, and Jai Courtney.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/imgs/spectre.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Spectre 007</h2>
          <p>Spectre: Original Motion Picture Soundtrack is the soundtrack album to the 24th James Bond film of the same name. Released by Universal Music Classics on October 23, 2015 in the United Kingdom and on November 6, 2015 in the United States, the music was composed by Thomas Newman, who previously composed the soundtrack of 23rd Bond's film Skyfall.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/imgs/bridge_of_spies.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Bridge of Spies</h2>
          <p>Bridge of Spies is a 2015 American historical drama-thriller film directed by Steven Spielberg from a screenplay written by Matt Charman and Ethan Coen and Joel Coen. The film stars Tom Hanks, Mark Rylance, Scott Shepherd, Amy Ryan, and Alan Alda. Based on the 1960 U-2 incident during the Cold War, the film tells the story of lawyer James B.</p>
          
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  </div>
</center>
{% endblock %}