<html>
  <head>
    <title>Management</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap-dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../static/css/index.css" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">

          <ul class = "nav navbar-nav">
          <li><a href="index">User Home</a></li>
          <li><a href="managementEntry">Manager Home</a></li>
          <li><a href="discussion">Discussion</a></li>

        </ul>
        </div>
      </div>
    </nav>

          <!-- Display flashed messages -->
      {% with msgs = get_flashed_messages() %}
        {% if msgs %}
          {%- for msg in msgs %}
          <center>
            <div class="alert alert-info">
              {{ msg }}
            </div>
          </center>
          {% endfor -%}
        {% endif %}
      {% endwith %}

    {% block content %} <!-- left to be filled -->
    {% endblock %}

    <br>
    <hr>
    <center>
    <div class="footer" style="padding-left: 50px">
        <p>&copy; Group Project by: Yixian Pu, Jiacheng Li, Junyi Peng</p>
    </div>
  </center>
      
    </div> <!-- /container -->

        <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/bootstrap-dist/js/bootstrap.min.js"></script>
  </body>
</html>