{% extends "layoutManagement.html" %}
{% block content %}

<center>
<div class="container-fluid" style="padding-top: 50px">
	
	<h2>&lt;{{privilege}} privilege&gt;</h2> 
	<hr>

	<!-- working schedule, visible for everyone -->
	<h2>Working Schedule</h2>
	<table class="table table-striped" style="width:85%">
		<thead>
			<tr>
				<th>Time</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>SSN</th>
				<th>Assignment</th>
				<th>Work At</th>
			</tr>
		</thead>

		<tbody>
			{%- for assignment in latestAssignments %}
				<tr>
					{%- for i in range(6) %}
					<td>{{assignment[i]}}</td>
					{% endfor -%}
				</tr>
			{% endfor -%}
		</tbody>
	</table>

	<!-- form for assigning job, visible for managers -->
	{% if privilege == "Manager" %}
		<hr>
		<h2>Assign work</h2>
		<form action="/assign_work" method="post">
			
			<label>Date &amp; Time</label>
			<input type="date" name="d">

			<br><br>

			<label>Name w SSN</label>
			<select name="ssn">
				{%- for name in names %}
					<option value="{{name}}">{{name}}</option>
				{% endfor -%}
			</select>

			<br><br>

			<label>Assignment</label>
			<select name="assignment">
				{%- for assignment in assignments %}
					<option value="{{assignment}}">{{assignment}}</option>
				{% endfor -%}
			</select>

			<br><br>

			<label>Working Location</label>
			<select name="work_at">
				{%- for location in locations %}
					<option value="{{location}}">{{location}}</option>
				{% endfor -%}
			</select>

			<br><br>
			<input type="submit" value="assign work">
		</form>
	{% endif %}

	<!-- members info, visiblefor owners and web admins -->
	{% if privilege == "Owner" or "Admin" %}
		<hr>
		<h2>Members</h2>
		<table class="table table-striped" style="width:85%">
			<thead>
				<tr>
					<th>Username</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Address</th>
					<th>Phone</th>
					<th>Status</th>
					<th>Points</th>
				</tr>
			</thead>

			<tbody>
				{%- for member in members %}
					<tr>
						{%- for i in range(8) %}
						<td>{{member[i]}}</td>
						{% endfor -%}
					</tr>
				{% endfor -%}
			</tbody>
		</table>
	{% endif %}

	{% if privilege == "Owner" %}
	<!-- delegate privilege to manager, owner only -->
		<hr>
		<h2>Delegate manager privilege to modify movie schedule<h2>
			<form action="" method="post">
				<select name="managerSSN">
				</select>
			</form>

	{% endif %}
</div>
</center>
{% endblock %}