{% extends "layout.html" %}
{% block content %}

<center>
<div class="container-fluid">
	<h2 class="sub-header">Movie Discussion</h2>
	<div class="table-responsive">
	<table class="table table-striped" style="width:85%">
		<thead>
			<tr>
				<th>Movie</th>
				<th>Content</th>
				<th>User</th>
				<th>Time</th>
				<th>Visits</th>
			</tr>
		</thead>
		<tbody>
		{%- for thread in threads %}
			<tr>
				<td>{{thread[0]}}</td>
				<td>{{thread[1]}}</td>
				<td>{{thread[2]}}</td>
				<td>{{thread[3]}}</td>
				<td>{{thread[4]}}</td>
			</tr>
		</tbody>
		{% endfor -%}
	</table>

	<br><br>
	{% if loggedIn %}
		<form action="/movieDiscussion" method="post">
			<h2>Start a new thread</h2>
			<p>You'll get 5 points for each review.</p>
			<br>

			<label class="control-label col-sm-4">Movie Title</label>
			<select class="col-sm-4" name="movieTitleYear">
				{%- for title in titlesYears %}
				<option>{{title + '-' +titlesYears[title]}}</option>
				{% endfor -%}
			</select>

			<br><br>

			<label class="control-label col-sm-4">Star</label>
			<select class="col-sm-4" name="movieStar">
				{%- for star in stars %}
				<option>{{star}}</option>
				{% endfor -%}
			</select>

			<br><br>

			<label class="control-label col-sm-4">Director</label>
			<select class="col-sm-4" name="movieDirector">
				{%- for director in directors %}
				<option>{{director}}</option>
				{% endfor -%}
			</select>

			<br><br>

			<label class="control-label col-sm-4">Review </label>
			<input type="text" name="review" class="col-sm-4" placeholder="review" required>

			<br><br>

			<input type="submit">
		</form>
	{% else %}
		<h2>Guests are read only, please log in to start a new thread.</h2>
	{% endif %}
</div>
</center>

{% endblock %}